*
!*/
!Sources/**
!Driver/src/**
!Driver/examples/**/src/**
!Driver/examples/**/Makefile
!Driver/config/**
!Driver/Makefile
!Analysis/**
!Report/**/*.tex
!Report/**/*.eps
!Report/**/*.png
!Report/**/*.jpg
!Report/**/*.bib
!Report/report.pdf
!*.xpr
!.gitignore
